/// Colors
$color_primary400: #2d8ecd;
$color_primary200: #63baf2;
$color_gray600: #808285;
$color_gray200: #F3F3F3;
$color_gray400: #e1e1e1;
$color_text400: #22203c;
$color_text200: #4A4952;
$color_gray600: #808285;
$color_danger400: #D21C1C;
$color_warning400: #F9971E;
$color_success400: #28A138;
$color_info400: #0172CB;

// Responsive

$notebook: 1680px;
$tablet: 1024px;
$small_tablet: 768px;
$mobile: 576px;