.page {
  .page_about_section_text {
    p {
        font-size: 18px;
      font-weight: 500;
      color: $color_text200;
    }
    .about_us_col2 {
      margin-top: 4rem;
  }
  }
  .page_about_section_icon {
    padding: 7.5rem 0;
    .porto-heading {
      margin-left: 10px;
      margin-bottom: 7rem!important;
    }
    .wp-block-columns {
      margin: 50px 0 0 0;
      .wp-block-column {
        margin-left: 0;
        .porto-sicon-box {
          min-height: 250px;
          padding: 30px 30px 5px 30px;
          @media (max-width: $notebook) {
            min-height: 270px;
          }
          @media (max-width: $tablet) {
            min-height: 295px;
          }
          @media (max-width: $mobile) {
            min-height: 250px;
          }
        }
      }
    }
  }
}
