/* Contact Page Icons */
.contact__page {
  &--section {
    padding-bottom: 0;
    padding-top: 10px;
    @media (max-width: $mobile) {
      .slider-title {
        font-size: 22px !important;
        line-height: 32px !important;
        span {
          padding: 0;
        }
        &:before,
        &:after {
          border-top: 0;
        }
      }
    }
  }
  &--icons {
    margin-top: 4rem;
    @media (max-width: $mobile) {
      .porto-sicon-box {
        margin-bottom: 4rem;
      }
    }
    .porto-sicon-top {
      min-height: 60px;
      height: 60px;
    }
    .porto-sicon-header {
      margin-bottom: 0;
      .porto-sicon-title {
        margin-bottom: 0.75rem;
      }
    }
    .wp-block-column:not(:first-child) {
      margin-left: 0 !important;
    }
  }
}
/* Contact form */
.contact__form {
  padding: 75px 0;
  text-align: center;
  @media (max-width: $mobile) {
    padding: 25px 0;
    .slider-title {
      font-size: 22px !important;
      line-height: 32px !important;
      span {
        padding: 0;
      }
      &:before,
      &:after {
        border-top: 0;
      }
    }
  }
  &--content {
    max-width: 957px;
    width: 100%;
    display: inline-block;
    @media (max-width: $mobile) {
      padding-top: 10px;
    }
    .form-group {
      width: 100%;
      text-align: left;
      label {
        margin-bottom: 10px;
      }
      .wpcf7-text,
      textarea {
        width: 100%;
        height: 54px;
        padding: 16px;
      }
    }
    .row-second {
      margin-top: 10px;
    }
    .wpcf7-acceptance {
      .wpcf7-list-item {
        margin-top: 22px;
        position: relative;
        input[type="checkbox"] {
          -moz-appearance: none;
          -webkit-appearance: none;
          -o-appearance: none;
          outline: none;
          content: none;
          background-color: $color_gray200;
          height: 1.5rem;
          width: 1.5rem;
          display: inline-block;
          position: absolute;
          margin-top: 5px;
          border: 1px solid $color_text200;
          border-radius: 0 !important;
          cursor: pointer;
          &:checked {
            -moz-appearance: checkbox;
            -webkit-appearance: checkbox;
            -o-appearance: checkbox;
          }
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
        .wpcf7-list-item-label {
          position: relative;
          left: 4%;
          width: 98%;
          display: block;
          font-size: 12px;
          line-height: 18px;
          @media (max-width: $small_tablet) {
            left: 6%;
            width: 94%;
          }
          @media (max-width: $mobile) {
            left: 12%;
            width: 85%;
          }
          a {
            color: $color_text200;
            font-weight: 800;
            text-decoration: underline;
          }
        }
      }
    }
    .wpcf7-submit {
      font-family: "Manrope";
      font-size: 14px;
      font-weight: 800;
      letter-spacing: 0.0105em;
      padding: 25px 31px 25px 22px;
      margin-top: 50px;
      i {
        margin-left: 10px;
      }
      @media (max-width: $tablet) {
        padding: 25px 31px 25px 22px;
      }
    }
    .wpcf7-spinner {
      display: block;
    }
  }
  .wpcf7 {
    .invalid .wpcf7-response-output {
      background-color: $color_warning400;
      border: $color_warning400;
      padding: 1rem 3rem;
    }
    .sent .wpcf7-response-output {
      background-color: $color_success400;
      border: $color_success400;
      color: white;
      padding: 1rem 3rem;
    }
    .wpcf7-not-valid-tip {
      color: $color_danger400;
      font-size: 14px;
      margin-top: 5px;
    }
  }
}
